<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
        <nav class='navbar navbar-dark bg-dark'> 
            <div class='container-fluid'>
                <div class="navbar-header">
                    <a href="{% url 'djangoapp:index' %}" class="navbar-brand">Home</a>
                    <a href="{% url 'djangoapp:about' %}" class="navbar-brand">About</a>
                    <a href="{% url 'djangoapp:contact' %}" class="navbar-brand">Contact</a>
                </div>
            
                <div class='nav navbar-nav navbar-right flex-row'>
                    {% if user.is_authenticated %}
                        <div>
                            <a class='btn btn-link text-light' href='{% url "djangoapp:login" %}' >{{user.first_name}} {{user.last_name}}</a>
                            <a class='btn btn-link text-light' href='{% url "djangoapp:logout" %}' >Logout</a>
                        <div>
                    {% else %}
                    <form class='nav navbar-nav navbar-right flex-row' action='{% url "djangoapp:login" %}' method='POST'>
                        {% csrf_token %}
                        <input type='text' name='username' id='username' class='mx-1' placeholder='Username' class='form-control p-1'/>
                        <input type="password" name="password" id="password" class=' mx-1' placeholder='Password'>
                        <Button class='btn btn-primary mx-1' type='submit'>Log In</Button>
                        <a class="btn btn-primary" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                    </form>
                    {%endif%}
                </div>
            </div>
        </nav>
    <!-- Add reviews as cards -->
    <div class="container">
        <h2>Dealer Reviews</h2>
        <div class="row">
            {% for review in reviews %}
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-left" src="{% static 'emoji/'|add:review.sentiment|add:'.png' %}" alt="Sentiment Emoji">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.car_make }} {{ review.car_model }} ({{ review.car_year }})</h5>
                        <p class="card-text"><strong>Review ID:</strong> {{ review.review_id }}</p>
                        <p class="card-text"><strong>Purchase:</strong> {{ review.purchase }}</p>
                        <p class="card-text"><strong>Purchase Date:</strong> {{ review.purchase_date }}</p>
                        <p class="card-text"><strong>Dealer ID:</strong> {{ review.dealer_id }}</p>
                        <p class="card-text"><strong>Review Content:</strong> {{ review.review }}</p>
                        <p class="card-text"><strong>Sentiment:</strong> {{ review.sentiment }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if reviews|length == 0 %}
            <div class="col-md-12">
                <p>No reviews available.</p>
            </div>
            {% endif %}
        </div>
    </body>

</html>