<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
        <nav class='navbar navbar-dark bg-dark'> 
            <div class='container-fluid'>
                <div class="navbar-header">
                    <a href="{% url 'djangoapp:index' %}" class="navbar-brand">Home</a>
                    <a href="{% url 'djangoapp:about' %}" class="navbar-brand">About</a>
                    <a href="{% url 'djangoapp:contact' %}" class="navbar-brand">Contact</a>
                </div>
            
                <div class='nav navbar-nav navbar-right flex-row'>
                    {% if user.is_authenticated %}
                        <div>
                            <a class='btn btn-link text-light' href='{% url "djangoapp:login" %}' >{{user.first_name}} {{user.last_name}}</a>
                            <a class='btn btn-link text-light' href='{% url "djangoapp:logout" %}' >Logout</a>
                        <div>
                    {% else %}
                    <form class='nav navbar-nav navbar-right flex-row' action='{% url "djangoapp:login" %}' method='POST'>
                        {% csrf_token %}
                        <input type='text' name='username' id='username' class='mx-1' placeholder='Username' class='form-control p-1'/>
                        <input type="password" name="password" id="password" class=' mx-1' placeholder='Password'>
                        <Button class='btn btn-primary mx-1' type='submit'>Log In</Button>
                        <a class="btn btn-primary" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                    </form>
                    {%endif%}
                </div>
            </div>
        </nav>
    <!-- Add reviews as cards -->
    <div class="container">
        <h4><strong>{{dealer.full_name}}</strong>, {{dealer.city}}, {{dealer.st}} - Reviews</h4>
        
        <div class="row my-3">
            {% for review in reviews %}
            <div class="col-md-4">
                <div class="card m-1">
                    <img class="card-img-left" src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" alt="Sentiment Emoji" height="40px" width="40px">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.car_make }} {{ review.car_model }} ({{ review.car_year }})</h5>
                        <p class="card-text"><strong>Purchase:</strong> {{ review.purchase }}</p>
                        <p class="card-text"><strong>Purchase Date:</strong> {{ review.purchase_date }}</p>
                        <p class="card-text"><strong>Dealer ID:</strong> {{ review.dealer_id }}</p>
                        <p class="card-text"><strong>Review Content:</strong> {{ review.review }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if reviews|length == 0 %}
            <div class="col-md-12">
                <p>No reviews available.</p>
            </div>
            {% endif %}
        </div>
        <div class="text-center mt-4">
            <a href="{% url 'djangoapp:add_review' dealer_id=dealer_id %}" class="btn btn-primary">Add Review</a>
        </div>
    </body>
    <footer class="navbar navbar-dark bg-dark text-light fixed-bottom footer" style="margin-top:15px; bottom:0; width:100%">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </div>
            <div class="text-center p-3">
                © 2022 <a class='text-light' href="{% url 'djangoapp:index' %}">Dealership Review</a>
            </div>
        </div>
    </footer>

</html>