<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    <!--Add a registration form here -->
        <form>
            <div class='container'>
                <h1 class='my-5'>Register</h1>
                <div class='form-group'>
                    <label class="font-weight-bold" for='username'>Username</label>
                    <input name='username' type='text' class='form-control' placeholder='enter username...'/>
                    <label class='font-weight-bold mt-4' for='first_name'>First Name</label>
                    <input name='first_name' type='text' class='form-control' placeholder='enter first name...'/>
                    <label class='font-weight-bold mt-4' for='last_name'>Last Name</label>
                    <input name ='last_name' type="text" class='form-control' placeholder='enter last name...'/>
                    <label class='font-weight-bold mt-4' for='password'>Password </label>
                    <input name='password' type='password' class='form-control' placeholder='enter password...'/>
                    

                    <button class="btn btn-primary mt-4" type="submit">Sign up</button> 

                </div>
            </div>
        </form>
    </body>
</html>